html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url("../assets/images/store-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.popup {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper {
    position: relative;
    width: 100%;
}

#popup-content {
    position: relative;
    width: 65%;
}

#big-table {
    position: absolute;
    top: 6%;
    left: 6.5%;
    width: 126%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3%;

    z-index: 2;
}

#popup-content img {
    width: 100%;
    display: block;
}

#cal-container {
    position: relative;
    text-align: left;
    font-family: Pixelify Sans;
    font-size: clamp(10px, 2vw, 14px);
    line-height: 1.4;
    color: #110f0e;
    word-wrap: break-word;
}

#receipt {
    position: relative;
    width: 100%;
}

#tablet-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2%;
}

.grid-cell {
    align-items: center;
    justify-content: center;
    background: #c5c7b1
}

.grid-cell img {
    width: 100%;
    cursor: pointer;
}

.grid-cell img:hover {
    transform: scale(1.08);
}

.grid-cell img:active {
    transform: scale(1.15);
}

.hidden {
    display: none;
}

.scene {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

#desk {
    position: relative;
    width: 100%;
    z-index: 2;
    display: block;
}

#cmachine {
    position: absolute;
    bottom: 62%;
    left: 10%;
    z-index: 3;
    width: 30%;
    cursor: pointer;
}

#tab {
    position: absolute;
    bottom: 62%;
    left: 45%;
    z-index: 3;
    width: 25%;
    cursor: pointer;
}

#info {
    position: absolute;
    bottom: 5%;
    left: 1%;
    z-index: 3;
    width: 4%;
    cursor: pointer;
}

#sound {
    position: absolute;
    bottom: 5%;
    right: 1%;
    z-index: 3;
    width: 4%;
    cursor: pointer;
}

#action-alert {
    position: absolute;
    bottom: 150%;
    left: 57%;
    z-index: 3;
    width: 4%;
    animation: float 1s ease-in-out infinite;
}

#info-panel {
    position: absolute;
    bottom: 0%;
    left: 25%;
    z-index: 0;
    width: 50%;
}

#penguin {
    position: absolute;
    bottom: 70%;
    left: 60%;
    width: 30%;
    z-index: 1;
}

#bubble {
    position: absolute;
    bottom: 60%;
    left: 17%;
    width: 45%;
    z-index: 3;
}

.bubble-img {
    width: 100%;
}

.bubble-text {
    position: absolute;
    top: 4%;
    left: 7%;
    width: 62%;
    text-align: left;
    font-family: Pixelify Sans;
    font-size: clamp(14px, 2vw, 28px);
    line-height: 1.4;
    color: #110f0e;
    word-wrap: break-word;
}

#open {
    position: absolute;
    bottom: 210%;
    right: 13%;
    z-index: 3;
    cursor: pointer;
    width: 12%;
    filter: drop-shadow(0 0 10px rgba(133, 255, 114, 0.7));
}

#open.float {
    animation: float 2s ease-in-out infinite;
}

#start {
    position: fixed;
    inset: 0;
    background: #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
    pointer-events: auto;
}

#start p {
    color: white;
    font-size: clamp(30px, 4vw, 70px);
    font-weight: 200;
    font-family: Pixelify Sans;
    animation: pulse 3s infinite;
}

#bip {
    position: absolute;
    bottom: 15%;
    right: 19%;
    width: 4%;
    animation: float 1.5s ease-in-out infinite ;
}

@keyframes pulse {
    0% { opacity: 0.2; }
    50% { opacity: 1; }
    100% { opacity: 0.2; }
}

@keyframes float {
    0%, 100% { transform: translate(-50%, 0); }
    50% { transform: translate(-50%, -6px); }
}